{% extends 'frontend/base.html' %}
{% load static %}
{% load martortags %}

{% block page_title %}#{{ intel.id }} - {{ intel.title }}{% endblock %}

{% block security_label %}
    {% if intel.author == request.user %}
        {% include 'frontend/includes/security_labels/include_label_readwrite.html' %}
    {% else %}
        {% include 'frontend/includes/security_labels/include_label_readonly.html' %}
    {% endif %}
{% endblock %}


{% block custom_css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}


{% block page_content %}
    <div class="content">

        <div class="row">
            <div class="col-md-8">
                {# BASIC INFO #}
                <div class="block block-rounded">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">About This Intel</h3>
                    </div>
                    <div class="block-content">
                        <table class="table table-striped table-borderless font-size-sm">
                            <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-user mr-1"></i>
                                    <b>Author:</b> {{ intel.author.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-book mr-1"></i>
                                    <strong>Resource Type:</strong> {{ intel.resource_type |capfirst }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-calendar-plus mr-1"></i>
                                    <strong>Creation date:</strong> {{ intel.creation_date }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-calendar mr-1"></i>
                                    <strong>Last update:</strong> {{ intel.last_update }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-link mr-1"></i>
                                    <strong>Link:</strong>
                                    {% if intel.link %}
                                        <a target="_blank" rel="noopener"
                                           href="{{ intel.link }}">{{ intel.link |truncatechars:100 }}</a>
                                        {% if intel.author == request.user %}
                                            <div class="float-right" style="display: inline; font-size: 20px">
                                                <button type="button" class="fa fa-camera"
                                                        style="background: transparent; border: none"
                                                        onclick="bookmark_add('{% url 'bookmark_add' %}', '{{ csrf_token }}', {{ intel.id }}, '{{ intel.link }}')">
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <i>null</i>
                                        {% if intel.author == request.user %}
                                            <div class="float-right" style="display: inline; font-size: 20px">
                                                <button type="button" class="fa fa-camera disabled"
                                                        style="background: transparent; border: none" disabled></button>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-file mr-1"></i>
                                    <b>Description:</b> {{ intel.description | default:"<i>null</i>" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-comment mr-1"></i>
                                    <b>Note:</b> {{ intel.additional_note | default:"<i>null</i>" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-fw fa-tags mr-1"></i>
                                    {% for tag in intel.tags.all %}
                                        <span class="badge badge-primary">{{ tag.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# FILES #}
            <div class="col-md-4">
                <div class="block block-rounded dzone" style="height: 355px">
                    <div class="block-header block-header-default text-center">
                        <h3 class="block-title">
                            Files (<span id="id_file_count">{{ intel.files.count }}</span>)
                        </h3>

                        {% if intel.author == request.user %}

                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-toggle="modal"
                                        data-target="#id_snapshot_modal">
                                    <i class="si si-camera"></i>
                                </button>

                                <button type="button" class="btn-block-option" id="id_btn_delete_files">
                                    <i class="si si-trash"></i>
                                </button>

                                <button type="button" class="btn-block-option js-upload-photos">
                                    <i class="si si-cloud-upload"></i>
                                </button>

                                <input id="fileupload" type="file" name="file" multiple
                                       style="display: none;"
                                       data-url="{% url 'intelfiles-list' %}"
                                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "intel":{{ intel.id }}}'>
                            </div>
                        {% endif %}
                    </div>
                    <div class="block-content" style="max-height: 280px; overflow-y: scroll;">
                        {% if not intel.files %}
                            <p><i>No files</i></p>
                        {% else %}
                            <ul id="id_files_ul">
                                {% for intelfile in intel.files.all %}
                                    <li>
                                        <input class="form-check-input filecheckbox" type="checkbox" value="{{ intelfile.id }}" >
                                        <a href="{{ intelfile.file.url }}" target="_blank">{{ intelfile.filename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {#  control panel #}
        {% if intel.author == request.user %}
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Control</h3>
                </div>

                <div class="block-content">
                    <!-- Default -->
                    <div class="mb-4">
                        <button type="button" class="btn btn-info mr-1 mb-3"
                                onclick="window.location.href='{% url 'update' pk=intel.id %}'">
                            <i class="fa fa-fw fa-pen mr-1"></i> Update
                        </button>

                        <button type="button" class="btn btn-danger mr-1 mb-3"
                                onclick="window.location.href='{% url 'delete' pk=intel.id %}'">
                            <i class="fa fa-fw fa-times mr-1"></i> Delete
                        </button>

                        {#                    <button type="button" class="btn btn-danger mr-1 mb-3" onclick="bookmark_add('{% url 'bookmark_add_api' %}', '{{ csrf_token }}', 63, 'https://nmap.org/book/port-scanning-tutorial.html')">#}
                        {#                        <i class="fa fa-fw fa-times mr-1"></i> Delete#}
                        {#                    </button>#}
                    </div>
                    <!-- END Default -->
                </div>
            </div>
        {% endif %}


        {#  TEXT CONTENT #}
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    Text content
                </h3>
            </div>
            <div class="block-content martor-preview">
                {% if intel.text_content %}
                    <p>{{ intel.text_content | safe_markdown }}</p>
                {% else %}
                    <p><i>null</i></p>
                {% endif %}
            </div>
        </div>

    </div>

    {# Progress bar modal #}
    <div class="modal" id="modal-progress">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uploading...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# snapshot modal #}
    <div class="modal" id="id_snapshot_modal" tabindex="-1" role="dialog" aria-labelledby="id_snapshot_modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Add bookmark snapshot</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input id="id_link_bookmark" type="url" class="form-control form-control-alt"
                                           name="link" placeholder="Link" value="" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input id="id_filename_bookmark" type="text" class="form-control form-control-alt"
                                           name="filename" placeholder="Filename (Optional)" value="" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row text-right">
                                <div class="col-sm-12 ml-auto">
                                    <button id="id_btn_bookmark" type="button" class="btn btn-dark" >Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'frontend/assets/js/plugins/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'frontend/assets/js/plugins/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'frontend/assets/js/plugins/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'frontend/assets/javascript/dyn_file_upload.js' %}"></script>

    <script src="{% static "frontend/assets/javascript/bookmarks.js" %}"></script>


    {# martor #}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        const INTELFILES_DETAIL_ENDPOINT = "/api/intelfiles/";

        $('.martor-preview pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $(document).ready(function () {
            $("#id_btn_bookmark").click(function () {
                let link = $("#id_link_bookmark").val();
                let filename = $("#id_filename_bookmark").val();
                if (filename === '') {
                    filename = null;
                }
                bookmark_add('{% url 'bookmark_add' %}', '{{ csrf_token }}', {{ intel.id }}, link, filename);
                $("#id_snapshot_modal").modal('hide');
            });

            $('#id_btn_delete_files').click(function () {
                console.log("hi");
                var checkedVals = $('.filecheckbox:checkbox:checked').map(function() {
                    return this.value;
                }).get();

                for (let i=0; i<checkedVals.length; ++i) {
                    let file_id = checkedVals[i];
                    delete_file(INTELFILES_DETAIL_ENDPOINT, file_id, "{{ csrf_token }}");
                }
            });
        });

    </script>
{% endblock %}