{% extends 'frontend/base.html' %}

{% block page_title %}#{{ intel.id }} - {{ intel.title }}{% endblock %}

{% block page_content %}
    <div class="content">

        <div class="row">
            <div class="col-md-12">
                {# BASIC INFO #}
                <div class="block block-rounded block-themed">
                    <div class="block-header bg-smooth-dark">
                        <h3 class="block-title">
                            Deletion
                        </h3>
                        <div class="block-options">
                        </div>
                    </div>

                    <div class="block-content">
                        <p>Are you sure you want to delete  #{{ intel.id }} - {{ intel.title }} ?</p>

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-4 text-right">
                                <button type="button" class="btn btn-outline-dark mr-1 mb-3" onclick="window.location.href='{% url 'view' pk=intel.id %}'">
                                   Cancel
                                </button>

                                <button type="submit" class="btn btn-danger mr-1 mb-3">
                                    <i class="fa fa-fw fa-times mr-1"></i> Delete
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}