{% extends 'frontend/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}Search{% endblock %}

{% block custom_css %}
    <link href="{% static 'frontend/assets/js/plugins/tagsinput/bootstrap-tagsinput.css' %}">
    <link href="{% static 'frontend/assets/js/plugins/tagsinput/bootstrap-tagsinput-typeahead.css' %}">
{% endblock %}

{% block back_button %}{% endblock %}

{% block page_content %}

    <!-- Page Content -->
    <div class="content">
        <div class="row">
            <div class="col-md-5 col-xl-3">
                <!-- Search form Side  -->
                <div id="one-inbox-side-nav" class="d-none d-md-block push">
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Search</h3>
                            <div class="block-options">
                                <button type="reset" class="btn btn-sm btn-outline-danger" id="id_reset_button">Reset
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <form action="" method="GET" id="id_search_form">
                                <div class="form-group form-row">
                                    {% render_field intelFilter.form.title class="form-control" placeholder=intelFilter.form.title.label %}
                                </div>

                                <div class="form-group form-row">
                                    {% render_field intelFilter.form.description class="form-control" placeholder=intelFilter.form.description.label %}
                                </div>

                                <div class="form-group form-row">
                                    {% render_field intelFilter.form.resource_type class="form-control" placeholder=intelFilter.form.resource_type.label %}
                                </div>

                                {# creation date #}
                                <div class="form-group form-row">
                                    <div class="form-group">
                                        <div class="input-daterange input-group js-datepicker-enabled"
                                             data-date-format="mm/dd/yyyy" data-week-start="1" data-autoclose="true"
                                             data-today-highlight="true">
                                            <input type="text" name="creation_date_range_after" class="form-control"
                                                   id="id_creation_date_range_0" placeholder="From">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text font-w600">
                                                    <i class="fa fa-fw fa-arrow-right"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="creation_date_range_before" class="form-control"
                                                   id="id_creation_date_range_1" placeholder="To">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-row">
                                    <div class="col-9 ">
                                        <select id="id_tags" name="tag" multiple></select>
                                    </div>
                                </div>

                                <div class="row items-push">
                                    <div class="col-lg-12  text-right">
                                        <input type="submit" class="btn btn-primary" value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END search form side -->
            </div>

            <div class="col-md-7 col-xl-9">
                <!-- Message List -->
                <div class="block">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            Results <span id="id_results_banner_low">0</span>-<span id="id_results_banner_high">0</span> <span class="font-w400 text-lowercase">from</span> <span id="id_results_banner_total">0</span>
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option btn-pagx" id="id_prev">
                                <i class="si si-arrow-left"></i>
                            </button>
                            <button class="page-link btn-block-option btn-pagx pagenum" id="id_page_num">1</button>
{#                                                            <li class="page-item active">#}
{#                                    <span class="page-link" id="id_page_num">1</span>#}
{#                                </li>#}
                            <button type="button" class="btn-block-option btn-pagx" id="id_next">
                                <i class="si si-arrow-right"></i>
                            </button>
                            <button type="button" class="btn-block-option" data-toggle="block-option"
                                    data-action="fullscreen_toggle"></button>
                        </div>
                    </div>
                    <div class="block-content">
                        <!-- Messages and Checkable Table (.js-table-checkable class is initialized in Helpers.tableToolsCheckable()) -->
                        <div class="pull-x">
                            <table class="js-table-checkable table table-hover table-vcenter font-size-sm fixed">
                                <tbody id="id_search_results_body">
                                </tbody>
                            </table>
                        </div>
                        <!-- END Messages and Checkable Table -->
                    </div>
                </div>
                <!-- END Message List -->
            </div>
        </div>
    </div>
    <!-- END Page Content -->

{% endblock %}


{% block custom_js %}
    {# tags #}
    <script src="{% static 'frontend/assets/js/plugins/tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static "frontend/assets/js/plugins/typeahead/typeahead.js" %}"></script>
    <script src="{% static "frontend/assets/javascript/load_tags_name.js" %}"></script>
    {#  utils #}
    <script src="{% static "frontend/assets/javascript/utils.js" %}"></script>
    {# date #}
    <script src="{% static "frontend/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "frontend/assets/js/plugins/moment/moment.min.js" %}"></script>
    {# search #}
    <script src="{% static "frontend/assets/javascript/search.js" %}"></script>



    <script>
        $(document).ready(function () {
            var base_detail_view_endpoint = "/view/";
            var api_endpoint = "{% url 'intels-list' %}";

            // init tags
            load_tags();

            // init dates
            let date_picker_options = {
                format: 'yyyy-mm-dd',
            }
            $("#id_creation_date_range_0").datepicker(date_picker_options);
            $("#id_creation_date_range_1").datepicker(date_picker_options);

            // init search form
            $('#id_reset_button').click(function (event) {
                event.preventDefault();
                $('#id_search_form')[0].reset();
                ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
            });
            $('#id_search_form').on("submit", function (event) {
                event.preventDefault();
                ajax_load_filtered_intels(api_endpoint, base_detail_view_endpoint, $(this).serializeArray(), null);
            });

            // load resources content
            ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
        });
    </script>
{% endblock %}