{% extends 'frontend/base.html' %}
{% load static %}


{% block page_title %}Search{% endblock %}

{% block page_content %}
<!-- Search -->
<div class="content">
    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Search</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row push">

                <div class="col-lg-9">
                    <!-- Form Grid -->
                    <form action="" method="POST" onsubmit="return false;">
                        <div class="form-group form-row">
                            <div class="col-9">
                                <input type="text" class="form-control form-control-alt" placeholder="Tags">
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-5">
                                <input type="text" class="form-control form-control-alt" placeholder="Keyword" id="id_searchbar">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control form-control-alt" placeholder="Article type">
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control form-control-alt" placeholder="Publish date">
                            </div>
                        </div>


                    </form>
                    <!-- END Form Grid -->
                </div>
                <div class="col-lg-3">
                    <p class="font-size-sm text-muted">
                        Using the form grid you can create any input layout you could possibly imagine
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Search -->





<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <!-- Results -->
            <div class="block">
{#                <ul class="nav nav-tabs nav-tabs-block" data-toggle="tabs" role="tablist">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" href="#search-projects">Resources</a>#}
{#                    </li>#}
{#                </ul>#}
                <div class="block-content tab-content overflow-hidden">
                    <!-- Projects -->
                    <div class="tab-pane fade fade-up show active" id="search-projects" role="tabpanel">
                        <div class="font-size-h4 font-w600 p-2 mb-4 border-left border-4x border-primary bg-body-light" id="id_results_banner">
                            <span class="text-primary font-w700" id="id_results_banner_number"></span> resources found for <mark class="text-danger" id="id_results_banner_keyword"></mark>
                        </div>
                        <table class="table table-striped table-vcenter">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Title</th>
                                    <th class="d-none d-lg-table-cell text-center" style="width: 15%;">Type</th>
                                    <th class="d-none d-lg-table-cell text-center" style="width: 15%;">Link</th>
                                </tr>
                            </thead>
                            <tbody id="id_search_results_body">
                            </tbody>
                        </table>

                        <nav aria-label="Projects Search Navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- END Projects -->
                </div>
            </div>
            <!-- END Results -->
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Search filtering</h3>
                </div>
                <div class="block-content"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END Page Content -->
{% endblock %}

{% block custom_js %}
    <script src="{% static "frontend/assets/javascript/search.js" %}"></script>
    <script src="{% static "frontend/assets/javascript/utils.js" %}"></script>

    <script>
        $( document ).ready(function() {
            var base_detail_view_endpoint = "/view/";
            var api_endpoint = "{% url 'intels-list' %}";

            // hook search bar
            $('#id_searchbar').keyup( debounce(500, function() {
                var search_input = $("#id_searchbar").val().trim();
                if (search_input === "") {
                    // todo optimise
                    ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
                } else {
                    ajax_load_filtered_resources(api_endpoint, base_detail_view_endpoint, search_input);
                }
            }));

            // load resources content
            ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
        });
    </script>
{% endblock %}