{% extends 'frontend/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}Search{% endblock %}

{% block custom_css %}
    <link href="{% static 'frontend/assets/js/plugins/tagsinput/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block page_content %}

    <div>
    {{ intelFilter.form.as_p }}
    </div>

<!-- Search -->
<div class="content">
    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Search</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="row push">

                <div class="col-lg-9">
                    <!-- Form Grid -->
                    <form action="" method="GET" id="id_search_form">
                        <div class="form-group form-row">
                            <div class="col-9">
                                {% render_field intelFilter.form.tag id="id_tags"%}
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="col-5">
                                {% render_field intelFilter.form.title class="form-control form-control-alt" placeholder=intelFilter.form.title.label %}
                            </div>
                        </div>

                        {# creation date #}
                        <div class="form-group form-row">
{#                             <div class="col-2">#}
{#                                {% render_field intelFilter.form.creation_date class="form-control form-control-alt" placeholder=intelFilter.form.creation_date.label %}#}
{#                            </div>#}
                            <div class="col-2">
                                {% render_field intelFilter.form.creation_date_range class="form-control form-control-alt" %}
                            </div>
{#                            <div class="col-2">#}
{#                                {% render_field intelFilter.form.creation_date__lte class="form-control form-control-alt" placeholder=intelFilter.form.creation_date_range.label %}#}
{#                            </div>#}
                        </div>

                        <div class="row items-push">
                            <div class="col-lg-7 offset-lg-4">
                                <button class="btn btn-primary" id="id_reset_button">Reset</button>
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>

                        </div>


                    </form>
                    <!-- END Form Grid -->
                </div>
                <div class="col-lg-3">
                    <p class="font-size-sm text-muted">
                        Using the form grid you can create any input layout you could possibly imagine
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END Search -->





<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <!-- Results -->
            <div class="block">
                <div class="block-content tab-content overflow-hidden">
                    <!-- Projects -->
                    <div class="tab-pane fade fade-up show active" id="search-projects" role="tabpanel">
                        <div class="font-size-h4 font-w600 p-2 mb-4 border-left border-4x border-primary bg-body-light" id="id_results_banner">
                            <span class="text-primary font-w700" id="id_results_banner_number"></span> resources found.
                        </div>
                        <table class="table table-striped table-vcenter">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Title</th>
                                    <th class="d-none d-lg-table-cell text-center" style="width: 15%;">Type</th>
                                    <th class="d-none d-lg-table-cell text-center" style="width: 15%;">Link</th>
                                </tr>
                            </thead>
                            <tbody id="id_search_results_body">
                            </tbody>
                        </table>

                        <nav aria-label="Projects Search Navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous">
                                        Prev
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="javascript:void(0)">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- END Projects -->
                </div>
            </div>
            <!-- END Results -->
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Search filtering</h3>
                </div>
                <div class="block-content"></div>
                </div>
            </div>
        </div>
    </div>

<!-- END Page Content -->
{% endblock %}

{% block custom_js %}
    {# tags #}
    <script src="{% static 'frontend/assets/js/plugins/tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static "frontend/assets/js/plugins/typeahead/typeahead.js" %}"></script>
    <script src="{% static "frontend/assets/javascript/load_tags.js" %}"></script>
    {# search #}
    <script src="{% static "frontend/assets/javascript/search.js" %}"></script>



    <script>
        $( document ).ready(function() {
            var base_detail_view_endpoint = "/view/";
            var api_endpoint = "{% url 'intels-list' %}";

            load_tags();

            // init search form
            $('#id_reset_button').click(function (event){
                event.preventDefault();
                $('#id_search_form')[0].reset();
                ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
            });
            $('#id_search_form').on( "submit", function( event ) {
                  event.preventDefault();
                  ajax_load_filtered_intels(api_endpoint, base_detail_view_endpoint, $( this ).serialize());
                  console.log( $( this ).serialize() );
                });

            // load resources content
            ajax_load_all_resources(api_endpoint, base_detail_view_endpoint);
        });
    </script>
{% endblock %}