
<tr>
    <td>
        <h4 class="h5 mt-3 mb-2">
            <a href="javascript:void(0)">{{ entry_title }}</a>
        </h4>
        <p class="d-none d-sm-block text-muted">
            {{ entry_preview }}
        </p>
    </td>


    <td class="d-none d-lg-table-cell text-center">
        {{ entry_type }}
    </td>
    <td class="d-none d-lg-table-cell font-size-xl text-center font-w600">
        {% if entry_link %}
            <a href="{{ entry_link }}">Link</a>
        {% else %}
            {{ entry_link|default:"no link" }}
        {% endif %}
    </td>

</tr>